html {
	background: @base3;
	color: @base01;
}

a {
	&:link {
		color: @blue;
	}
	&:visited {
		color: @magenta;
	}
	&:hover {
		color: @orange;
	}
	&:active {
		color: @red;
	}
}

#results {
	position: relative;
	background: @base03;
	color: @base01;

	.result { color: @red; }
	.fn { color: @green; }
	.op { color: @green; }
	.num { color: @blue; }
	.var { color: @base1; }
	.rep { color: @red; }
}

#error {
	background: #900;
	color: #eee;
}
